/* Reference your main CSS file to give @apply access to utilities */
@reference "../style.css";

.nav-link {
    @apply flex items-center space-x-3 px-4 py-3 rounded-xl text-slate-500 hover:bg-slate-50 transition-all duration-200;
}

.nav-link-active {
    @apply bg-primary/5 text-primary font-semibold border-r-4 border-primary rounded-r-none;
}