@reference "tailwindcss";

@media print {

    /* Hide everything else explicitly if needed */
    body>*:not(.max-w-6xl) {
        display: none;
    }
}

.detail-label {
    @apply block text-[10px] text-slate-400 uppercase font-bold mb-1;
}

.detail-value {
    @apply text-slate-800 font-medium text-sm;
}

.animate-fade-in {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}